body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main{
  border: 1px black solid;
}

.headerNav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: black;
}

.headerNav ul li{
  color: white;
  margin: 15px 0;
}

footer{
  background: #eeeeee;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  margin: 20px 30px;
}


.addressInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.leftAside{
  width: 200px;
}

.aboutArticle, .archivesNav, .login{
  padding: 15px 10px;
  margin: 10px;
}

.aboutArticle{
  background: #eeeeee
}

.rightAside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.login, .loginInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.login{
  background: #eeeeee;
}

.loginOption{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.loginInfo, .loginOption,.loginButton{
  margin:5px 10px;
}

.loginInfo input{
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px lightgray solid;
}

.loginButton{
  background: dodgerblue;
  color: white;
  height: 30px;
  border-radius: 5px;
  border: 1px lightgray solid;
  font-size: 16px;
}
